*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
include
lib
parts
var
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
.pydevproject
.project
.settings
picked_versions.cfg
/npm-debug.log
/tmp
report
coverage
*.old
adminPassword.txt
src/Products.CMFPlomino
ebr.cfg
node_modules
theme.min.css
README.html