form[name=frmDisplay]{
	[type=radio]{
		//display: block;
	}
	label{
		//display: block;
	}
	td{
		vertical-align: top;
	}
}

form[name=frmProgOverview] .table{
	a.btn{
		color: white !important;
	}
	td{
		vertical-align: middle;
	}
}

form[name=frmShop] .table{
	td{
		vertical-align: top;
		border-width: 0;
	}
}